@font-face {
  font-family: "Involve";
  src: url("../fonts/Involve-Regular.woff2") format("woff2"), url("../fonts/Involve-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Involve";
  src: url("../fonts/Involve-SemiBold.woff2") format("woff2"), url("../fonts/Involve-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Caveat";
  src: url("../fonts/Caveat-Regular.woff2") format("woff2"), url("../fonts/Caveat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Involve";
  src: url("../fonts/Involve-Medium.woff2") format("woff2"), url("../fonts/Involve-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --bg-color: #f2f6ff;
  --font-color: #202020;
  --primary-color: #fd6229;
  --second-color: #2063cc;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Non-Standard, But More Styling-Capable Properties */
  /* Standardized Properties */
}
*::-webkit-scrollbar {
  cursor: pointer;
  width: 5px;
  background: #f5f5f5;
}
*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--primary-color);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--primary-color) var(--bg-color);
    scrollbar-width: thin;
  }
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

html,
body {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

body {
  color: var(--font-color);
  line-height: 1;
  font-family: "Involve", sans-serif;
  background: var(--bg-color);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  outline: none;
  font-family: "Involve", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background: transparent;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

a {
  cursor: pointer;
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  margin: 0 auto;
  width: 100%;
  max-width: 1688px;
  padding-left: 16px;
  padding-right: 16px;
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

section {
  position: relative;
  margin: 120px 0px;
}
@media (max-width: 1599.98px) {
  section {
    margin-top: 100px;
  }
}
@media (max-width: 1439.98px) {
  section {
    margin-top: 80px;
  }
}
@media (max-width: 1169.98px) {
  section {
    margin-top: 60px;
  }
}
@media (max-width: 991.98px) {
  section {
    margin-top: 40px;
  }
}
@media (max-width: 1599.98px) {
  section {
    margin-bottom: 100px;
  }
}
@media (max-width: 1439.98px) {
  section {
    margin-bottom: 80px;
  }
}
@media (max-width: 1169.98px) {
  section {
    margin-bottom: 60px;
  }
}
@media (max-width: 991.98px) {
  section {
    margin-bottom: 40px;
  }
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}
@media (max-width: 1599.98px) {
  .section-header {
    gap: 22px;
  }
}
@media (max-width: 1439.98px) {
  .section-header {
    gap: 20px;
  }
}
@media (max-width: 1169.98px) {
  .section-header {
    gap: 18px;
  }
}
@media (max-width: 991.98px) {
  .section-header {
    gap: 16px;
  }
}
.section-header__icon {
  padding: 25px;
  background: #fee2db;
  border-radius: 50%;
}
@media (max-width: 1599.98px) {
  .section-header__icon {
    padding: 21.25px;
  }
}
@media (max-width: 1439.98px) {
  .section-header__icon {
    padding: 17.5px;
  }
}
@media (max-width: 1169.98px) {
  .section-header__icon {
    padding: 13.75px;
  }
}
@media (max-width: 991.98px) {
  .section-header__icon {
    padding: 10px;
  }
}
.section-header__icon img {
  width: 45px;
  height: 45px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1599.98px) {
  .section-header__icon img {
    width: 40px;
  }
}
@media (max-width: 1439.98px) {
  .section-header__icon img {
    width: 35px;
  }
}
@media (max-width: 1169.98px) {
  .section-header__icon img {
    width: 30px;
  }
}
@media (max-width: 991.98px) {
  .section-header__icon img {
    width: 25px;
  }
}
@media (max-width: 1599.98px) {
  .section-header__icon img {
    height: 40px;
  }
}
@media (max-width: 1439.98px) {
  .section-header__icon img {
    height: 35px;
  }
}
@media (max-width: 1169.98px) {
  .section-header__icon img {
    height: 30px;
  }
}
@media (max-width: 991.98px) {
  .section-header__icon img {
    height: 25px;
  }
}
.cursive {
  font-family: "Caveat", sans-serif;
  color: var(--primary-color);
  font-weight: 400;
  line-height: 110%;
  display: block;
}

h1 {
  font-weight: 500;
  font-size: 68px;
  line-height: 110%;
}
@media (max-width: 1599.98px) {
  h1 {
    font-size: 58px;
  }
}
@media (max-width: 1439.98px) {
  h1 {
    font-size: 48px;
  }
}
@media (max-width: 1169.98px) {
  h1 {
    font-size: 38px;
  }
}
@media (max-width: 991.98px) {
  h1 {
    font-size: 28px;
  }
}
h1 .cursive {
  font-size: 128px;
  margin-bottom: -35px;
}
@media (max-width: 1599.98px) {
  h1 .cursive {
    font-size: 109.5px;
  }
}
@media (max-width: 1439.98px) {
  h1 .cursive {
    font-size: 91px;
  }
}
@media (max-width: 1169.98px) {
  h1 .cursive {
    font-size: 72.5px;
  }
}
@media (max-width: 991.98px) {
  h1 .cursive {
    font-size: 54px;
  }
}
@media (max-width: 1599.98px) {
  h1 .cursive {
    margin-bottom: -28.75px;
  }
}
@media (max-width: 1439.98px) {
  h1 .cursive {
    margin-bottom: -22.5px;
  }
}
@media (max-width: 1169.98px) {
  h1 .cursive {
    margin-bottom: -16.25px;
  }
}
@media (max-width: 991.98px) {
  h1 .cursive {
    margin-bottom: -10px;
  }
}

h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 110%;
  color: #202020;
}
@media (max-width: 1439.98px) {
  h2 {
    font-size: 38px;
  }
}
@media (max-width: 1169.98px) {
  h2 {
    font-size: 28px;
  }
}
@media (max-width: 991.98px) {
  h2 {
    font-size: 18px;
  }
}
h2 .cursive {
  font-size: 88px;
  margin-bottom: -14px;
}
@media (max-width: 1439.98px) {
  h2 .cursive {
    font-size: 70px;
  }
}
@media (max-width: 1169.98px) {
  h2 .cursive {
    font-size: 52px;
  }
}
@media (max-width: 991.98px) {
  h2 .cursive {
    font-size: 34px;
  }
}
@media (max-width: 1599.98px) {
  h2 .cursive {
    margin-bottom: -11.75px;
  }
}
@media (max-width: 1439.98px) {
  h2 .cursive {
    margin-bottom: -9.5px;
  }
}
@media (max-width: 1169.98px) {
  h2 .cursive {
    margin-bottom: -7.25px;
  }
}
@media (max-width: 991.98px) {
  h2 .cursive {
    margin-bottom: -5px;
  }
}

h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.03em;
}
@media (max-width: 1439.98px) {
  h3 {
    font-size: 38px;
  }
}
@media (max-width: 1169.98px) {
  h3 {
    font-size: 28px;
  }
}
@media (max-width: 991.98px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: 0.03em;
}
@media (max-width: 1439.98px) {
  h4 {
    font-size: 20px;
  }
}
@media (max-width: 1169.98px) {
  h4 {
    font-size: 19px;
  }
}
@media (max-width: 991.98px) {
  h4 {
    font-size: 18px;
  }
}

h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #30313d;
}
@media (max-width: 1439.98px) {
  h5 {
    font-size: 20px;
  }
}
@media (max-width: 1169.98px) {
  h5 {
    font-size: 19px;
  }
}
@media (max-width: 991.98px) {
  h5 {
    font-size: 18px;
  }
}

h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
@media (max-width: 991.98px) {
  h6 {
    font-size: 17px;
  }
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 172%;
  color: #30313d;
}
@media (max-width: 1439.98px) {
  p {
    font-size: 18px;
  }
}
@media (max-width: 1169.98px) {
  p {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  p {
    font-size: 14px;
  }
}

.rs-btn {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 10;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 18px 24px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 50px;
  border: 1px solid transparent;
}
.rs-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}
.rs-btn._btn-second {
  border-color: var(--second-color);
  background-color: transparent;
  color: #fff;
}
.rs-btn._btn-second::after {
  background-color: var(--second-color);
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
@media (any-hover: hover) {
  .rs-btn._btn-second:hover {
    color: var(--second-color);
  }
  .rs-btn._btn-second:hover::after {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
.rs-btn._btn-primary-opacity {
  background-color: #fee2db;
}
.rs-btn._btn-primary-opacity::after {
  background-color: var(--primary-color);
}
@media (any-hover: hover) {
  .rs-btn._btn-primary-opacity:hover {
    color: #fff;
  }
  .rs-btn._btn-primary-opacity:hover::after {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }
}
.rs-btn._btn-gray {
  background-color: #e2ebff;
}
.rs-btn._btn-gray::after {
  background-color: var(--second-color);
}
@media (any-hover: hover) {
  .rs-btn._btn-gray:hover {
    color: #fff;
  }
  .rs-btn._btn-gray:hover::after {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }
}
.rs-btn._btn-arrow {
  overflow: visible;
  margin-left: 58px;
  color: #fff;
}
.rs-btn._btn-arrow::after {
  background-color: var(--second-color);
  padding-top: 0px;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
.rs-btn._btn-arrow .rs-btn__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: inherit;
  width: 54px;
  margin-right: 4px;
  position: absolute;
  right: 100%;
  height: 100%;
  background-color: var(--second-color);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.rs-btn._btn-arrow .rs-btn__arrow svg path {
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .rs-btn._btn-arrow:hover .rs-btn__arrow {
    background-color: #e2ebff;
    -webkit-transform: translate3d(12px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform: translate3d(12px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .rs-btn._btn-arrow:hover .rs-btn__arrow svg path {
    fill: var(--second-color);
  }
  .rs-btn._btn-arrow:hover::after {
    width: calc(100% + 46px);
  }
}

.form {
  width: 100%;
}
.form__wrapper {
  position: relative;
}
@media (min-width: 991.98px) {
  .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
  }
}
.form__line {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
@media (max-width: 1439.98px) {
  .form__line {
    margin-bottom: 16.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .form__line {
    margin-bottom: 13.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .form__line {
    margin-bottom: 10px;
  }
}
.form__footer {
  margin-top: 20px;
}
@media (min-width: 991.98px) {
  .form__footer {
    gap: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.form__agreement {
  max-width: 561px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #424242;
}
.form__agreement a {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
@media (any-hover: hover) {
  .form__agreement a:hover {
    text-decoration: none;
  }
}
@media (max-width: 991.98px) {
  .form__button {
    width: 100%;
    margin-top: 20px;
  }
}
.form__button .rs-btn {
  width: 100%;
  white-space: nowrap;
}

.rs-input {
  outline: none;
  width: 100%;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  padding: 32px 40px;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--font-color);
  border-radius: 50px;
  background: #f2f6ff;
}
@media (max-width: 1439.98px) {
  .rs-input {
    padding-top: 27.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-input {
    padding-top: 22.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-input {
    padding-top: 18px;
  }
}
@media (max-width: 1439.98px) {
  .rs-input {
    padding-right: 34.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-input {
    padding-right: 29.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-input {
    padding-right: 24px;
  }
}
@media (max-width: 1439.98px) {
  .rs-input {
    padding-bottom: 27.3333333333px;
  }
}
@media (max-width: 1169.98px) {
  .rs-input {
    padding-bottom: 22.6666666667px;
  }
}
@media (max-width: 991.98px) {
  .rs-input {
    padding-bottom: 18px;
  }
}
@media (max-width: 1439.98px) {
  .rs-input {
    padding-left: 34.6666666667px;
  }
}
@media (max-width: 1169.98px) {
  .rs-input {
    padding-left: 29.3333333333px;
  }
}
@media (max-width: 991.98px) {
  .rs-input {
    padding-left: 24px;
  }
}
.rs-input::-webkit-input-placeholder {
  color: #4f4f4f;
}
.rs-input::-moz-placeholder {
  color: #4f4f4f;
}
.rs-input:-ms-input-placeholder {
  color: #4f4f4f;
}
.rs-input::-ms-input-placeholder {
  color: #4f4f4f;
}
.rs-input::placeholder {
  color: #4f4f4f;
}

textarea.rs-input {
  min-height: 268px;
  resize: none;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-grid > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-prev:active, .swiper-button-prev:focus,
.swiper-button-next:active,
.swiper-button-next:focus {
  outline: none !important;
}
.swiper-button-prev::-moz-focus-inner,
.swiper-button-next::-moz-focus-inner {
  border: 0 !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0px;
}

.swiper-pagination-bullet:active, .swiper-pagination-bullet:focus {
  outline: none !important;
}
.swiper-pagination-bullet::-moz-focus-inner {
  border: 0 !important;
}

.swiper-button-lock {
  display: none !important;
}

.swiper-pagination-lock {
  display: none !important;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.swiper-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1439.98px) {
  .swiper-buttons {
    padding-bottom: 6px;
  }
}
@media (max-width: 991.98px) {
  .swiper-buttons {
    display: none;
  }
}
.swiper-buttons > *:not(:last-child) {
  margin-right: 8px;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  top: 0%;
  width: 66px;
  height: 66px;
  margin-top: 0px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  overflow: hidden;
}
@media (max-width: 1599.98px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 62px;
  }
}
@media (max-width: 1439.98px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 58px;
  }
}
@media (max-width: 1169.98px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 54px;
  }
}
@media (max-width: 991.98px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 50px;
  }
}
@media (max-width: 1599.98px) {
  .swiper-button-next,
  .swiper-button-prev {
    height: 62px;
  }
}
@media (max-width: 1439.98px) {
  .swiper-button-next,
  .swiper-button-prev {
    height: 58px;
  }
}
@media (max-width: 1169.98px) {
  .swiper-button-next,
  .swiper-button-prev {
    height: 54px;
  }
}
@media (max-width: 991.98px) {
  .swiper-button-next,
  .swiper-button-prev {
    height: 50px;
  }
}
.swiper-button-next svg,
.swiper-button-prev svg {
  width: 20px;
  height: 20px;
  position: absolute;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
@media (max-width: 1599.98px) {
  .swiper-button-next svg,
  .swiper-button-prev svg {
    width: 19px;
  }
}
@media (max-width: 1439.98px) {
  .swiper-button-next svg,
  .swiper-button-prev svg {
    width: 18px;
  }
}
@media (max-width: 1169.98px) {
  .swiper-button-next svg,
  .swiper-button-prev svg {
    width: 17px;
  }
}
@media (max-width: 991.98px) {
  .swiper-button-next svg,
  .swiper-button-prev svg {
    width: 16px;
  }
}
@media (max-width: 1599.98px) {
  .swiper-button-next svg,
  .swiper-button-prev svg {
    height: 19px;
  }
}
@media (max-width: 1439.98px) {
  .swiper-button-next svg,
  .swiper-button-prev svg {
    height: 18px;
  }
}
@media (max-width: 1169.98px) {
  .swiper-button-next svg,
  .swiper-button-prev svg {
    height: 17px;
  }
}
@media (max-width: 991.98px) {
  .swiper-button-next svg,
  .swiper-button-prev svg {
    height: 16px;
  }
}
.swiper-button-next svg:last-child,
.swiper-button-prev svg:last-child {
  opacity: 0;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0px;
  right: 0px;
}
.swiper-button-prev svg:last-child,
.swiper-rtl .swiper-button-next svg:last-child {
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%);
}
@media (any-hover: hover) {
  .swiper-button-prev:hover svg:first-child,
  .swiper-rtl .swiper-button-next:hover svg:first-child {
    -webkit-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
            transform: translateX(-200%);
    opacity: 0;
  }
  .swiper-button-prev:hover svg:last-child,
  .swiper-rtl .swiper-button-next:hover svg:last-child {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0px;
  left: 0px;
}
.swiper-button-next svg:last-child,
.swiper-rtl .swiper-button-prev svg:last-child {
  -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
          transform: translateX(-200%);
}
@media (any-hover: hover) {
  .swiper-button-next:hover svg:first-child,
  .swiper-rtl .swiper-button-prev:hover svg:first-child {
    -webkit-transform: translateX(200%);
        -ms-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
  }
  .swiper-button-next:hover svg:last-child,
  .swiper-rtl .swiper-button-prev:hover svg:last-child {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}