.rs-slider {
  position: relative;
  margin: 0;
}
@media (min-width: 991.98px) {
  .rs-slider {
    max-height: 732px;
    height: 100vh;
  }
}
@media (min-width: 991.98px) and (max-width: 1599.98px) {
  .rs-slider {
    max-height: 654.6666666667px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-slider {
    max-height: 577.3333333333px;
  }
}
@media (min-width: 991.98px) and (max-width: 1169.98px) {
  .rs-slider {
    max-height: 500px;
  }
}
.rs-slider__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.rs-slider__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.rs-slider__container {
  height: 100%;
}
.rs-slider__wrapper {
  height: 100%;
  position: relative;
}
@media (max-width: 991.98px) {
  .rs-slider__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.rs-slider__slider {
  width: 100%;
  padding-top: 202px;
  overflow: visible;
}
@media (max-width: 1599.98px) {
  .rs-slider__slider {
    padding-top: 168.25px;
  }
}
@media (max-width: 1439.98px) {
  .rs-slider__slider {
    padding-top: 134.5px;
  }
}
@media (max-width: 1169.98px) {
  .rs-slider__slider {
    padding-top: 100.75px;
  }
}
@media (max-width: 991.98px) {
  .rs-slider__slider {
    padding-top: 67px;
  }
}
@media (min-width: 991.98px) {
  .rs-slider__slider {
    height: 100%;
  }
}
@media (max-width: 991.98px) {
  .rs-slider__slider {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 648px;
  }
}
.rs-slider__slide {
  height: 100%;
}
.rs-slider__slide.swiper-slide-active .rs-slider__title {
  opacity: 1;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.rs-slider__slide.swiper-slide-active .rs-slider__img {
  opacity: 1;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.rs-slider__slide.swiper-slide-active .rs-slider__desc {
  opacity: 1;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}
.rs-slider__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 991.98px) {
  .rs-slider__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 991.98px) {
  .rs-slider__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.rs-slider__title {
  opacity: 0;
  -webkit-transform: translateX(20%);
      -ms-transform: translateX(20%);
          transform: translateX(20%);
  -webkit-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s, opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s, opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}
.rs-slider__img {
  position: absolute;
  left: 31.7%;
  bottom: 0;
  max-width: 46.2%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  -webkit-transform: translateX(-20%);
      -ms-transform: translateX(-20%);
          transform: translateX(-20%);
  -webkit-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s, opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s, opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}
@media (max-width: 991.98px) {
  .rs-slider__img {
    width: auto;
    max-width: 100%;
    min-width: 496px;
    margin-left: -248px;
    left: 50%;
    bottom: -15px;
  }
}
.rs-slider__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.rs-slider__desc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  opacity: 0;
  -webkit-transform: translateX(-20%);
      -ms-transform: translateX(-20%);
          transform: translateX(-20%);
  -webkit-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s, opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s, opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}
@media (min-width: 991.98px) {
  .rs-slider__desc {
    --pr: 96px;
    --mw: 381px;
    max-width: calc(var(--mw) + var(--pr));
    padding-right: var(--pr);
    margin-top: 150px;
  }
}
@media (min-width: 991.98px) and (max-width: 1599.98px) {
  .rs-slider__desc {
    --pr: 72px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-slider__desc {
    --pr: 48px;
  }
}
@media (min-width: 991.98px) and (max-width: 1169.98px) {
  .rs-slider__desc {
    --pr: 24px;
  }
}
@media (min-width: 991.98px) and (max-width: 991.98px) {
  .rs-slider__desc {
    --pr: 0px;
  }
}
@media (min-width: 991.98px) and (max-width: 1599.98px) {
  .rs-slider__desc {
    --mw: 355.75px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-slider__desc {
    --mw: 330.5px;
  }
}
@media (min-width: 991.98px) and (max-width: 1169.98px) {
  .rs-slider__desc {
    --mw: 305.25px;
  }
}
@media (min-width: 991.98px) and (max-width: 991.98px) {
  .rs-slider__desc {
    --mw: 280px;
  }
}
@media (min-width: 991.98px) and (max-width: 1599.98px) {
  .rs-slider__desc {
    margin-top: 116.6666666667px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-slider__desc {
    margin-top: 83.3333333333px;
  }
}
@media (min-width: 991.98px) and (max-width: 1169.98px) {
  .rs-slider__desc {
    margin-top: 50px;
  }
}
@media (max-width: 991.98px) {
  .rs-slider__desc {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 6px;
  }
}
@media (min-width: 991.98px) {
  .rs-slider__desc h6 {
    max-width: 321px;
    margin-right: auto;
  }
}
.rs-slider__desc .rs-btn {
  margin-top: 40px;
}
@media (min-width: 991.98px) {
  .rs-slider__label {
    position: absolute;
    bottom: 106px;
    left: 93px;
    z-index: 10;
  }
}
@media (min-width: 991.98px) and (max-width: 1599.98px) {
  .rs-slider__label {
    bottom: 92px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-slider__label {
    bottom: 78px;
  }
}
@media (min-width: 991.98px) and (max-width: 1169.98px) {
  .rs-slider__label {
    bottom: 64px;
  }
}
@media (min-width: 991.98px) and (max-width: 991.98px) {
  .rs-slider__label {
    bottom: 50px;
  }
}
@media (min-width: 991.98px) and (max-width: 1599.98px) {
  .rs-slider__label {
    left: 69.75px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-slider__label {
    left: 46.5px;
  }
}
@media (min-width: 991.98px) and (max-width: 1169.98px) {
  .rs-slider__label {
    left: 23.25px;
  }
}
@media (min-width: 991.98px) and (max-width: 991.98px) {
  .rs-slider__label {
    left: 0px;
  }
}
@media (min-width: 1169.98px) {
  .rs-slider__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 991.98px) {
  .rs-slider__label {
    margin-bottom: 40px;
    margin-top: 15px;
    padding: 16px;
    border-radius: 16px;
    background: #fff;
  }
}
@media (max-width: 991.98px) {
  .rs-slider__label_img {
    max-width: 86px;
  }
}
@media (min-width: 991.98px) {
  .rs-slider__label_desc {
    max-width: 348px;
  }
}
@media (min-width: 991.98px) and (max-width: 1599.98px) {
  .rs-slider__label_desc {
    max-width: 311px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-slider__label_desc {
    max-width: 274px;
  }
}
@media (min-width: 991.98px) and (max-width: 1169.98px) {
  .rs-slider__label_desc {
    max-width: 237px;
  }
}
@media (min-width: 991.98px) and (max-width: 991.98px) {
  .rs-slider__label_desc {
    max-width: 200px;
  }
}
@media (min-width: 1169.98px) {
  .rs-slider__label_desc {
    margin-left: 24px;
  }
}
@media (max-width: 1169.98px) {
  .rs-slider__label_desc {
    margin-top: 16px;
  }
}
.rs-slider__label_desc h4 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 2px;
}
@media (max-width: 1599.98px) {
  .rs-slider__label_desc h4 {
    font-size: 22px;
  }
}
@media (max-width: 1439.98px) {
  .rs-slider__label_desc h4 {
    font-size: 20px;
  }
}
@media (max-width: 1169.98px) {
  .rs-slider__label_desc h4 {
    font-size: 18px;
  }
}
@media (max-width: 991.98px) {
  .rs-slider__label_desc h4 {
    font-size: 16px;
  }
}
.rs-slider__label_desc p {
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  color: #30313d;
}