@font-face {
	font-family: "Involve";
	src:
		url("../fonts/Involve-Regular.woff2") format("woff2"),
		url("../fonts/Involve-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Involve";
	src:
		url("../fonts/Involve-SemiBold.woff2") format("woff2"),
		url("../fonts/Involve-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Caveat";
	src:
		url("../fonts/Caveat-Regular.woff2") format("woff2"),
		url("../fonts/Caveat-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Involve";
	src:
		url("../fonts/Involve-Medium.woff2") format("woff2"),
		url("../fonts/Involve-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
