@import "../base/_mixin";

.rs-news {
	// .rs-news__container
	&__container {
	}

	// .rs-news__head
	&__head {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	// .rs-news__slider
	&__slider {
		margin-top: 30px;

		@include responsive-auto(margin-top, (30, 20), (1599.98, 1439.98, 1169.98, 991.98));

		@media (max-width: 991.98px) {
			overflow: visible;
		}
	}

	// .rs-news__swiper
	&__swiper {
	}

	// .rs-news__slide
	&__slide {
		height: auto;
	}

	// .rs-news__item
	&__item {
		height: 100%;
		width: 100%;
	}

	// .rs-news__link
	&__link {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		padding: 24px 24px 56px;
		border-radius: 24px;
		background: #fff;
		overflow: hidden;

		@include responsive-auto(padding-top, (24, 16), (1599.98, 1439.98, 1169.98, 991.98));
		@include responsive-auto(padding-right, (24, 16), (1599.98, 1439.98, 1169.98, 991.98));
		@include responsive-auto(padding-bottom, (56, 16), (1599.98, 1439.98, 1169.98, 991.98));
		@include responsive-auto(padding-left, (24, 16), (1599.98, 1439.98, 1169.98, 991.98));

		@media (max-width: 991.98px) {
			border-radius: 16px;
		}
	}

	// .rs-news__img
	&__img {
		border-radius: 24px;
		overflow: hidden;
		position: relative;
		padding-bottom: 100%;
		background-color: #f2f6ff;

		@media (max-width: 991.98px) {
			border-radius: 8px;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .rs-news__desc
	&__desc {
		margin-top: 24px;

		@include responsive-auto(margin-top, (24, 16), (1599.98, 1439.98, 1169.98, 991.98));
	}

	// .rs-news__date
	&__date {
		font-weight: 500;
		font-size: 16px;
		// line-height: 19px;
		line-height: 120%;
		color: var(--primary-color);
		margin-bottom: 6px;

		@include responsive-auto(font-size, (16, 14), (1439.98, 1169.98, 991.98));
	}

	// .rs-news__title
	&__title {
		h5 {
			line-height: 120%;
			letter-spacing: 0px;
			color: #202020;
		}
	}
}
