@mixin adaptive-calc($property, $min, $max, $minViewport: 320, $maxViewport: 1920) {
	@media (max-width: #{$maxViewport}px) {
		#{$property}: calc(
			#{$min}px + (#{$max} - #{$min}) * ((100vw - #{$minViewport}px) / (#{$maxViewport} - #{$minViewport}))
		);
	}
}

@mixin responsive-auto($property, $values, $breakpoints) {
	$start: nth($values, 1); // Начальное значение
	$end: nth($values, 2); // Конечное значение
	$count: length($breakpoints); // Количество брейкпоинтов
	$step: ($start - $end) / $count; // Шаг уменьшения

	@for $i from 1 through $count {
		$currentBreakpoint: nth($breakpoints, $i); // Текущий брейкпоинт
		$currentValue: $start - ($step * $i); // Вычисляем значение

		@media (max-width: #{$currentBreakpoint}px) {
			#{$property}: #{$currentValue}px;
		}
	}
}
