.swiper {
	overflow: hidden;
}

.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	position: relative;
}

.swiper-grid > .swiper-wrapper {
	flex-wrap: wrap;
}

.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}

.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}

.swiper-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}

.swiper-button-prev,
.swiper-button-next {
	&:active,
	&:focus {
		outline: none !important;
	}
	&::-moz-focus-inner {
		border: 0 !important;
	}

	&::after {
		font-size: 0px;
	}
}

.swiper-pagination-bullet {
	&:active,
	&:focus {
		outline: none !important;
	}
	&::-moz-focus-inner {
		border: 0 !important;
	}
}

.swiper-button-lock {
	display: none !important;
}

.swiper-pagination-lock {
	display: none !important;
}

.swiper-button-disabled {
	opacity: 0.5;
}

//========================================================================================================================================================
.swiper-buttons {
	display: flex;

	@media (min-width: 1439.98px) {
		padding-bottom: 6px;
	}

	@media (max-width: 991.98px) {
		display: none;
	}

	& > * {
		&:not(:last-child) {
			margin-right: 8px;
		}
	}
}

// nav
.swiper-button-next,
.swiper-button-prev {
	position: relative;
	top: 0%;
	width: 66px;
	height: 66px;
	margin-top: 0px;
	border-radius: 50%;
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: all 0.3s ease 0s;
	background-color: #fff;
	overflow: hidden;

	@include responsive-auto(width, (66, 50), (1599.98, 1439.98, 1169.98, 991.98));
	@include responsive-auto(height, (66, 50), (1599.98, 1439.98, 1169.98, 991.98));

	svg {
		width: 20px;
		height: 20px;
		position: absolute;
		transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;

		@include responsive-auto(width, (20, 16), (1599.98, 1439.98, 1169.98, 991.98));
		@include responsive-auto(height, (20, 16), (1599.98, 1439.98, 1169.98, 991.98));

		&:last-child {
			opacity: 0;
		}
	}
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: 0px;
	right: 0px;

	svg {
		&:last-child {
			transform: translateX(200%);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			svg {
				&:first-child {
					transform: translateX(-200%);
					opacity: 0;
				}
				&:last-child {
					transform: translateX(0%);
					opacity: 1;
				}
			}
		}
	}
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: 0px;
	left: 0px;

	svg {
		&:last-child {
			transform: translateX(-200%);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			svg {
				&:first-child {
					transform: translateX(200%);
					opacity: 0;
				}
				&:last-child {
					transform: translateX(0%);
					opacity: 1;
				}
			}
		}
	}
}
